version: "3.9"

services:
  mongo:
    image: mongo:6.0
    container_name: urbanrise_mongo
    ports:
      - "27018:27017"
    volumes:
      - mongo_data:/data/db

  app:
    build: .
    container_name: urbanrise_app
    ports:
      - "8501:8501"
    depends_on:
      - mongo
    environment:
      - DB_URI=mongodb://mongo:27017/

volumes:
  mongo_data:
